{% extends 'base.html' %}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/index.css" />
{% endblock %}

{% block content %}
<h1>Pomodoro Timer</h1> <br>
<p style="text-align: center;color: darkblue;"><b><i>Pomodoro App is an awesome platform used in office by workaholics.
            Once you login you will be able to set time to work and time to take a break and you can also see the work
            sessions you've completed .</i></b></p>
<hr>

<div class="sign">
    <h4 style="color: brown;"> <b> Please sign in or login to get access </b></h4>
</div>
<div id="container">
    <form class="form" method="post">
        <label class="form_label" for="work">Working for:</label>
        <input type="number" name="work" id="work" value="60">
        <span>(minutes)</span>

        <label class="form_label" for="short_break">Take a break for:</label>
        <input type="number" name="short_break" id="short_break" value="10">
        <span>(minutes)</span>

        <button>START</button>
    </form>

</div>
{% endblock  %}