{% extends 'base.html' %}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="../static/css/index.css" />
{% endblock %}

{% block content %}

<audio id="audio">
  <source src="../static/audio/alarm.mp3" type="audio/mp3" />
  <source src="../static/audio/bell.mp3" type="audio/mp3" />
</audio>

<div id="timer">
  <div class="row">
    <div class="col-md-6">
      <div class="button selected" id="pomodoro-btn">Work Session</div>
      <div class="number-input">
        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
        <input placeholder="Number of minutes" min="1" max="60" value="45" type="number" id="workTime"
          class="form-control" />
        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
      </div>
      <button id="setSessionInterval" class="button">
        Set Session interval
      </button>
    </div>
    <div class="col-md-6">
      <div class="button" id="short-break-btn">Take a Break</div>
      <div class="number-input">
        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
        <input placeholder="Number of minutes" min="5" max="10" value="5" type="number" id="breakTime"
          class="form-control" />
        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
      </div>
      <button id="setBreakInterval" class="button">Set Break interval</button>
    </div>
  </div>
  <div id="countdown">45:00</div>
  <div id="start-btn">Start</div>
</div>

<div id="current-task-display">
  <div id="message">WORKING ON</div>
  <div id="selected-task"></div>
</div>

<div id="tasks-container">
  <ul id="tasks"></ul>
  <div id="add-task-btn">Add Task</div>

  <form id="task-form" class="hide">
    <input id="text" type="text" placeholder="What are you working on?" />
    <label for="work-session">Work Session</label>
    <input id="work-session" type="number" />
    <div id="btn-container">
      <button id="save" type="submit">Save</button>
      <button id="cancel" type="button">Cancel</button>
    </div>
  </form>
</div>
<template id="list-item-template">
  <li class="list-item">
    <input type="checkbox" />
    <span class="task-name"></span>
    <div class="right">
      <span class="pomodoro-count"></span>
      <span class="delete-btn">Delete</span>
    </div>
  </li>
</template>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../static/js/script.js"></script>
{% endblock %}